/* algemene opmaak */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#f4f4f4;
}
/* navigatiebar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 999;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.icon {
  width: 32px;
  height: 32px;
}

/* hackwer foto*/
.hacker {
  display: flex;
  margin-top: 60px; /* ruimte voor navbar */
  height: 100vh;
  width: 100%;
}

.hacker-image {
  flex: 1;
  background-image: url('Icons/hacker.png'); 
  background-size: cover;
  background-position: center;
}

.hacker-text {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.hacker-text h1 {
  font-size: 48px;
  font-family: 'Impact', sans-serif;
  color: black;
  margin-bottom: 20px;
}

.hacker-text p {
  max-width: 400px;
  text-align: center;
  font-size: 16px;
}

/* informatie */
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
}

.links, .rechts {
  flex: 1;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}

.hacker-img {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.wachtwoord-image{
  flex: 1;
  background-image: url('../Hack-yeah-/Icons/wachtwoord.png'); 
  background-size: cover;
  background-position: center;
}